<ion-header>
  <!-- <ion-toolbar color="success">
    <ion-title>
      <ion-icon name="car" size="large"></ion-icon>
      Peaje
    </ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon color="secondary" slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="secondary" slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="warning">Ley de transito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>INFRACCIONES Y SANCIONES</h4>

  <h5>CAPÍTULO ÚNICO</h5>

  <p>ARTÍCULO 180. MULTA DE CIEN QUETZALES. Se aplicara multa de cien quetzales, en los casos que siguen:</p>

  <ol>
    <li>Por no tener las bicicletas y motobicictetas, el equipamiento básico en óptimas condiciones de funcionamiento,
      según el presente reglamento.</li>
    <li>
      Por no respetar las señales de tránsito, siguientes:
      <ul>
        <li>No vehículos</li>
        <li>Silencio</li>
        <li>Ceder el paso</li>
        <li>No virar o girar a la derecha</li>
        <li>Vira a la derecha o izquierda</li>
        <li>Velocidad mínima; y,</li>
        <li>Siga de Frente</li>
      </ul>
    </li>
    <li>Por circular en el arcén sin causa justificada.</li>
    <li>Por no facilitar la incorporación al tránsito a otros vehículos.</li>
    <li>Por no utilizar las señales de tránsito correspondientes al virar o girar, cambiar de sentido, cambiar de carril,
      desacelerar y retroceder.</li>
    <li>Por no respetar el derecho preferente a rebasar.</li>
    <li>Por circular sin casco protector.</li>
    <li>Por utilizar en casos no previstos en el presente reglamento, advertencias auditivas o avisos luminosos; y,</li>
    <li>Por conducir utilizando auriculares conectados y aparatos receptores o reproductores de sonido, o utilizando
      teléfonos, radios comunicadores u otros aparatos similares.</li>
  </ol>

</ion-content>
