<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="warning">Agregar Peaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list lines="none">
      <ion-item class="p-10">
        <ion-label color="dark" position="floating">Fecha </ion-label>
          <ion-datetime  [value]="peaje.date" displayFormat="DD-MM-YYYY" [(ngModel)]="peaje.date"></ion-datetime>
      </ion-item>
      <ion-item class="p-10">
        <ion-label color="dark" position="floating">Hora </ion-label>
        <!-- <ion-datetime displayFormat="hh:mm a" [(ngModel)]="peaje.time" ></ion-datetime> -->
        <ion-datetime [value]="peaje.time" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="peaje.time"></ion-datetime>
      </ion-item>
      <ion-item class="p-10">
        <ion-label>Tipo de vehículo</ion-label>
        <ion-select (ionChange)="obtenerDato($event)" okText="Aceptar" [(ngModel)]="peaje.type_toll_vehicle_id" cancelText="Cancelar">
          <ion-select-option *ngFor="let item of tiposVehiculos" value="{{ item.id}}">{{ item.type }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="p-10">
            <ion-label color="dark" position="floating">Placa</ion-label>
            <ion-note slot="start">{{ prefijo }}</ion-note>
            <ion-input color="dark" #txtPlaca name="car_plate" [(ngModel)]="peaje.car_plate" [ngModelOptions]="{standalone: true}"type="text">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="dark" [disabled]="peaje.car_plate.length < 5 || peaje.car_plate == null " fill="solid" (click)="guardar()" size="large">
          <ion-icon slot="start" name="save"></ion-icon>
          <ion-text color="warning">Guardar</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="dark" fill="solid" (click)="cancelarModal()" size="large">
          <ion-icon slot="start" name="exit"></ion-icon>
          <ion-text color="warning">Cancelar</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
</ion-content>
