.center {
    height: 250px;
    width: 250px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    display: block !important;
}

.raya {
    border-bottom-style: none;
}